Kivy==2.0.0
pyttsx3==2.90
SpeechRecognition==3.8.1
rapidfuzz==0.14.2
PyYAML==5.3.1
numpy
pandas
matplotlib
espeak # Install from http://espeak.sourceforge.net/ on Windows
pyaudio # On Windows 'pip install pipwin' then 'pipwin install pyaudio'

seaborn
scipy